<h1>Log-in page</h1>

<form id="login-form">
    <input type="text" id="username" placeholder="USERNAME">
    <input type="password" id="password" placeholder="PASSWORD">
    <button class="btn waves-effect waves-light">login</button>
</form>
    <br>
    <a href="/signup" class="waves-effect waves-light btn">Sign UP</a>

<script src="/js/login.js"></script>