<form id="new-post">
    <input type="text" id="title" placeholder="TITLE">
    <input type="text" id="description" placeholder="CONTENT">
    <button type="submit" class="btn waves-effect waves-light">Submit</button>
</form>

<script src="/js/newpost.js"></script>