<h1>Sign-up page</h1>

<form id="signup-form">
    <input type="text" id="username" placeholder="USERNAME">
    <input type="password" id="password" placeholder="PASSWORD">
    <button class="btn waves-effect waves-light" type="submit">Sign-up</button>
</form

<script src="/js/signup.js"></script>